
.side_bar_color{
	-fx-background-color: #03506f;
}
.header_label{
	-fx-text-fill: #03506f;
}


.element_color{
	-fx-text-fill: #DDDDDD;	
	
}

.border_color{
	-fx-border-color: #03506f;
}

.ico_color{
	-fx-fill:#af0069;
	-fx-color:#af0069;
}
.button_color{
	-fx-background-color: #03506f;
	-fx-background-radius: 10px;
	-fx-border-radius: 10px;
}

.button_color:hover,.button_color:focused{
	-fx-background-color:#62959c;
}

.text_field {
    -fx-background-color: #03506f , #DDDDDD , #DDDDDD;
    -fx-background-insets: 0.0 -1.0 -1.0 -1.0, 0.0 0.0 0.0 0.0, 0.0 -1.0 3.0 -1.0;
     -fx-border-insets: 0.0 -1.0 -1.0 -1.0, 0.0 0.0 0.0 0.0, 0.0 -1.0 3.0 -1.0;
    
}

.background_color{
	-fx-background-color: #DDDDDD;
}
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #03506f; 
}
.table-view .column-header .label{
   -fx-text-fill: white;
   -fx-font-weight: bold; 
   -fx-alignment: CENTER_LEFT;
   -fx-font-size: 18px;
}

.table-view .table-cell{
	-fx-border-color: #DDDDDD;
	-fx-padding:3px;
}
.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: #03506f;
}
.table-row-cell:odd{
    -fx-background-color: #DDDDDD;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #03506f, #1dbbdd44);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #03506f, #1dbbdd44);
}


.combo-box .arrow{
    -fx-background-color:#03506f;
}
.combo-box .arrow-button{
    -fx-background-color:#DDDDDD;
    -fx-border-style:none;
}
.combo-box .arrow-button{
    -fx-background-color:#DDDDDD;
}
.combo-box .list-cell{
    -fx-background-color:#DDDDDD;
}




